extends layout

block content
  
    
    #content
      h1 Vote App
 
      if !user
          button(class=(title == 'Login') ? 'active' : undefined)
            a(href='/login') Login

      else
          button#btn_my(type='button') 
            a(href='/polls/mypoll') My Polls
            
          button#btn_new(type='button') 
            a(href='/polls/create') New Poll
      .container-fluid
        .list-group#poll

block script
  script.
    $(document).ready(function(){
      $.getJSON('/api/list', function(data) {
        data.forEach(function(poll) {
          var html = '<a href="/polls/' + poll.qid +
          '"class="list-group-item">' + poll.title + '</a>';
          $('#poll').append(html);
        });
      });
    });
            